.home-page {
  @extend .page;

  .home-hero-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .home-hero {
      position: relative;
      @extend .container;
      margin-bottom: 160px;

      @media (max-width: 1023px) {
        margin-bottom: 120px;
      }

      @media (max-width: 767px) {
        padding: 0
      }

      &:before {
        content: '';
        position: absolute;
        width: 1006px;
        height: 594px;
        left: -165px;
        bottom: -274px;
        background: url('/assets/shared/desktop/bg-pattern-leaf.svg');

        @media (max-width: 1023px) {
          display: none;
        }
      }

      .home-hero-container {
        position: relative;
        background-color: $peach;
        border-radius: 15px;
        padding: 145px 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg'), url('/assets/home/desktop/image-hero-phone.png');
        background-position: right top, right -10% top;
        background-size: auto 100%, auto 135%;
        background-repeat: no-repeat;

        @media (max-width: 1100px) {
          background-position: right top, right -35% top;
        }

        @media (max-width: 1023px) {
          padding: 60px 58px 460px;
          align-items: center;
          background-position: center right -120px, center bottom -325px;
          background-size: auto calc(100% - 200px), 600px auto;
        }

        @media (max-width: 767px) {
          padding: 80px 24px 450px;
          border-radius: 0;
          background-position: left center, center bottom -325px;
          background-size: auto calc(100% - 200px), 600px auto;
        }

        .hero-heading {
          max-width: 63%;
          color: $white;
          margin: 0 0 24px;

          @media (max-width: 1023px) {
            max-width: 100%;
            text-align: center;
          }
        }

        .hero-text {
          max-width: 48%;
          color: $white;
          margin: 0 0 40px;

          @media (max-width: 1023px) {
            max-width: 445px;
            text-align: center;
            margin-bottom: 20px;
          }

          @media (max-width: 767px) {
            margin-bottom: 24px;
          }
        }

        .hero-button {
          @extend .button;
          @extend .light;
        }
      }
    }
  }

  .home-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    @media (max-width: 1023px) {
      margin-bottom: 120px;
    }

    .home-links-container {
      @extend .container;
      align-items: stretch;

      @media (max-width: 1023px) {
        flex-direction: column;
      }

      .right-side {
        width: calc(50% - 15px);
        flex-shrink: 0;
        margin-left: 30px;
        display: flex;
        flex-direction: column;

        @media (max-width: 1023px) {
          width: 100%;
          margin-left: 0;
          margin-top: 24px;
        }

        .home-link {
          min-height: 308px;
          background-image: url('/assets/home/desktop/image-app-design.jpg');

          @media (max-width: 1023px) {
            min-height: 200px;
            background-image: url('/assets/home/tablet/image-app-design.jpg');
          }

          @media (max-width: 767px) {
            min-height: 250px;
            background-image: url('/assets/home/mobile/image-app-design.jpg');
          }

          &:last-child {
            margin-top: 30px;
            background-image: url('/assets/home/desktop/image-graphic-design.jpg');

            @media (max-width: 1023px) {
              margin-top: 24px;
              background-image: url('/assets/home/tablet/image-graphic-design.jpg');
            }

            @media (max-width: 767px) {
              background-image: url('/assets/home/mobile/image-graphic-design.jpg');
            }
          }
        }
      }

      .home-link {
        position: relative;
        flex: 1;
        mix-blend-mode: normal;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        overflow: hidden;
        background-color: #000000;
        background-image: url('/assets/home/desktop/image-web-design-large.jpg');
        background-position: center center;
        background-size: cover;

        @media (max-width: 1023px) {
          min-height: 200px;
          background-image: url('/assets/home/tablet/image-web-design.jpg');
        }

        @media (max-width: 767px) {
          min-height: 250px;
          background-image: url('/assets/home/mobile/image-web-design.jpg');
        }

        &:before {
          content: '';
          position: absolute;
          inset: 0;
          background-color: rgba(#000, .5);
        }

        &:hover:before {
          background-color: rgba($peach, .8);
        }

        .home-link-heading {
          position: relative;
          @extend h2;
          text-align: center;
          margin: 0 0 24px;
          color: $white;

          @media (max-width: 767px) {
            margin-bottom: 12px;
          }
        }

        .home-link-text {
          position: relative;
          display: flex;
          align-items: center;
          font-family: Jost;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 5px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin: 0;

          &:after {
            content: '';
            width: 4px;
            height: 8px;
            margin-left: 20px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDEwIj48cGF0aCBkPSJtMSAxIDQgNC00IDQiIHN0cm9rZT0iI0U3ODE2QiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
          }
        }
      }
    }
  }

  .home-arguments {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;

    @media (max-width: 1023px) {
      margin-bottom: 67px;
    }

    @media (max-width: 767px) {
      margin-bottom: 120px;
    }

    .home-arguments-container {
      position: relative;
      @extend .container;
      justify-content: space-between;

      @media (max-width: 1023px) {
        flex-direction: column;
      }

      &:before {
        content: '';
        position: absolute;
        width: 1006px;
        height: 594px;
        right: -165px;
        top: 124px;
        background: url('/assets/shared/desktop/bg-pattern-leaf.svg');
        transform: scale(-1, -1);

        @media (max-width: 1023px) {
          display: none;
        }
      }

      .home-argument {
        position: relative;
        width: calc((100% - 60px) / 3);
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(2) .argument-image-container:before {
          transform: matrix(0, 1, 1, 0, 0, 0);
        }

        &:nth-child(3) .argument-image-container:before {
          transform: matrix(0, -1, -1, 0, 0, 0);
        }

        @media (max-width: 1023px) {
          width: 100%;
          flex-direction: row;
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        @media (max-width: 767px) {
          flex-direction: column;
          margin-bottom: 80px;
        }

        .argument-image-container {
          position: relative;
          width: 200px;
          height: 200px;
          margin-bottom: 48px;

          @media (max-width: 1023px) {
            margin-bottom: 0;
            margin-right: 48px;
            flex-shrink: 0;
          }

          @media (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 48px;
          }

          &:before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
            mix-blend-mode: normal;
            opacity: 0.2;
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }

          .argument-image {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
          }
        }

        .argument-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media (max-width: 1023px) {
            align-items: flex-start;
          }

          @media (max-width: 767px) {
            align-items: center;
          }

          .argument-title {
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 5px;
            margin: 0 0 32px;

            @media (max-width: 1023px) {
              text-align: left;
              margin-bottom: 16px;
            }

            @media (max-width: 767px) {
              text-align: center;
              margin-bottom: 32px;
            }
          }

          .argument-text {
            text-align: center;
            margin: 0;

            @media (max-width: 1023px) {
              text-align: left;
            }

            @media (max-width: 767px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
