h1 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  color: #1D1C1E;
  margin: 0;
}

h2 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #1D1C1E;
  margin: 0;
}

h3 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #333136;
  margin: 0;
}

.regularText {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  color: #333136;
  margin: 0;
}

.button {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 146%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 24px;
  background-color: $peach;
  border-radius: 8px;

  &:hover {
    background-color: $lightPeach;
  }

  &.light {
    color: $black;
    background-color: $white;
  }
}

.container {
  width: 100%;
  max-width: calc(1110px + 2 * 40px);
  padding: 0 40px;
  display: flex;
}
