@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$peach: #E7816B;
$black: #1D1C1E;
$white: #FFFFFF;
$lightPeach: #FFAD9B;
$darkGrey: #333136;
$lightGrey: #F1F3F5;
